/* UserMenu.css */
.navbar {
  background-color: #02072D;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.2rem;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.navbar-list li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-list li a:hover {
  color: #ffffffcc;
}

.navbar-brand-text  a:hover {
  color: #ffffffcc;
}