.md {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.main-dom {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 10px;
}
.ml {
   font-family: serif;
   font-size: 18px;
}
.md2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
}
.NotifyForm {
  display: flex;
  flex-direction: column;
}

.NotifyForm .form-group {
  margin-bottom: 1.5rem;
}

.NotifyForm .radio-group {
  margin-left: 1rem;
}

.NotifyForm .scheduled-options {
  margin-top: 1rem;
}

.NotifyForm .scheduled-options .date-time-inputs {
  margin-top: 1rem;
  margin-left: 1rem;
}
