.notification-container {
  position: sticky;
  z-index: 3;
}

.notification-icon {
  cursor: pointer;
  position: relative;
}

.badge {
  position: absolute;
  top: -6px;
  right: -5px;
  background-color: red;
  color: #fff;
  text-width: bold;
  border-radius: 60%;
  padding: 1px 6px;
}

.notification-dropdown {
  position: absolute;
  top: calc(100% + 10px); /* Adjust spacing */
  right: 50%;
  transform: translateX(50%); /* Center the dropdown */
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
  max-width: 300px;
  min-width: 200px;
  max-height: 200px;
  overflow: visible;
  object-fit: cover;
}

.notification-dropdown::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 43%;
  transform: translateX(-60%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.notification-item {
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
}

.notification-item:hover {
  background-color: #f3f3f3;
}

